<div class="page-container">
  <div class="titulo">
    <h2>Perfil del empleado</h2>
  </div>
  <div class="profile-content">
    <div class="carta contenedor-avatar">
      <div class="avatar">
        <span>{{ employee ? employee.acronym : "" }}</span>
        <img class="css-border" [src]="employee?.profilePhoto" />
      </div>
      <div class="nombre-usuario">
        {{ employee ? employee.name : "" }}
      </div>
    </div>
    <div class="carta" *ngIf="employee" style="width: 50%">
      <h2>Datos</h2>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Nombre(s)</mat-label>
        <input
          matInput
          disabled
          [(ngModel)]="employee.name"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Puesto</mat-label>
        <input
          matInput
          disabled
          [(ngModel)]="employee.job"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Salario</mat-label>
        <input
          matInput
          disabled
          [(ngModel)]="employee.salary"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Status</mat-label>
        <input
          matInput
          disabled
          [(ngModel)]="employee.status"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Fecha de Registro</mat-label>
        <input
          matInput
          disabled
          [(ngModel)]="employee.dateOfHire"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>

      <h2>Beneficiario</h2>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Nombre(s) del beneficiario</mat-label>
        <input
          matInput
          disabled
          [(ngModel)]="employee.recipient.name"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Parentesco</mat-label>
        <input
          matInput
          disabled
          [(ngModel)]="employee.recipient.kinship"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Fecha de nacimiento</mat-label>
        <input
          matInput
          disabled
          [(ngModel)]="employee.recipient.birthday"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Sexo</mat-label>
        <input
          matInput
          disabled
          [(ngModel)]="employee.recipient.gender"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
    </div>
  </div>
</div>
