<div class="container">
  <div class="navigation">
    <ul>
      <li>
        <a routerLink="/home">
          <span class="icon"><mat-icon>home</mat-icon></span>
          <span class="title">Inicio</span>
        </a>
      </li>
      <li>
        <a routerLink="/employees">
          <span class="icon"
            ><mat-icon class="material-icons-outlined"
              >badge</mat-icon
            ></span
          >
          <span class="title">Empleados</span>
        </a>
      </li>
      <li>
        <a routerLink="/profile">
          <span class="icon"
            ><mat-icon class="material-icons-outlined"
              >account_circle</mat-icon
            ></span
          >
          <span class="title">Perfil</span>
        </a>
      </li>
    </ul>
  </div>
</div>

